# 依赖目录
node_modules

# 构建输出
dist
**/dist

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE相关
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境变量
.env
.env.*

# TypeScript 缓存
*.tsbuildinfo
.tscache